@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@500&family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
    scroll-behavior: smooth;

}
header{
    background-color: rgb(151, 100, 134);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.may{
    text-decoration: none;
    color: rgb(25, 63, 121);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}
.name a{
    color: rgb(25, 63, 121);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 30px;
}
.name a:hover{
    color: rgb(29, 3, 19);

}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(nnn.jpeg) no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
}
.main h2 { color: rgb(49, 27, 70);
font-size: 1.4em;
font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(230, 72, 182);
    font-size: 2cm;
    font-weight: 400;

}
.main h3{
    color: rgb(73, 69, 65);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
} 
.btn {
    color: antiquewhite;
    background-color: rgb(94, 94, 216);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;


} 
.btn :hover{
    background-color: rgb(34, 34, 100);
    transform: scale(1.1);
} 
.social a { 
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(14, 14, 77);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.card{
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 40px rgba(1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card :hover{
    transform: scale(1.1);
}
.icon{
    color: #3a6cf4;
    font-size: 120px;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #293864;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;

}
.Projects {
background-color: #226c79;
}
.Projects .content{
    margin-top: 40px;

}
.Project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 120px;
    width: 950px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}
.Project-card:hover {
    transform: scale(1.1);
}
.Project-card:hover .Project-image {
    opacity: 0.8;

}
.Project-image img {
    width: 100%;
}
.Project-info {
    padding: 40px;
}
.project-category {
    font-size: 15px;
    color: #000000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: #d452ca;
}
.more-details :hover{
    color: #601cfc;
}
.content .icon{
    font-size: 60px;
}
.bool{
    display: flex;
    flex-wrap: wrap;
    background-color: #5f1753;
}

.xxx{
    width: 37%;
    height: 100px;
}
.xxx img{
    height: 332px
}
.sac{
    width: 58%;
    height: 80%;
   
    padding: 20px ;
    margin:50px 20px ;
}
.sac input{
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    
}
.sac textarea{
width: 80%;
height: 100px;
border-radius: 7px;
padding: 10px;
}

@media(max-width:768px){
    .xxx{
        display:block;
    }
    .xxx img{
        height: 270px; 
    }
    .sac{
        display: block;
        margin-top: 300px;
        width: 90%;
    }
    .sac input{
        width: 90%;
        
    }
}
button{
    padding: 13px 20px; 
    outline: none; 
    border: none; 
    background-color:white; 
    color: #2b131f;  
    font-weight: 900; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: 0.3s;
}
button:hover{ 
    background-color:#962090; 
    color: white;
}
.mother23{
    position: relative;
    left: 480PX;
    background-color: #e0e0e0;
    width: 420PX;
    margin: 20px;
    padding: 25px;
    font-size: 20PX;
    border-radius: 10%;

}
.mother23 div{
    
    margin: 10px;
    padding: 10px;
    line-height: 30PX;
    
}
.mother23 ul{
    list-style: none;
    padding-bottom: 10PX;
    display: inline;
}
.mother23 ul H3{
    padding-right: 20PX;

}
.mother23 ul li{
    display:flex;
    line-height: 50PX;
}
 .mmm{
        padding: 11px 7px 11PX 0PX;
        font-size: 25px;
        color: #37474f;
        
}
 .mmm:hover{
    font-size: 40px;
}

.footer {
    background-color: rgb(151, 100, 134);;
    color:white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 18px;
    font-weight: 600;

}
.footer-title span {
    color: #1b202e;
}
.footer .social a{
    color: rgb(114, 59, 105);
}
@media (max-width:1023px){
    header{
        padding: 10px 15px;
        
    }
    .name a {
        padding-left: 10px;

    }
    .title{
        font-size: 17px;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 15px;
    }
    .main-content h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px)

{
body{
    font-size: 12px;
}
.main-content h2{
    font-size: 9px;
}
.main-content h3{
    font-size: 16px;
}

}
@media (max-width:300px)
{
    body{
        font-size: 10px;;
    }
}

